
.info {
    padding: 50px 100px;
    width: 100%;
    height: 100vh;
  
    background-color: white;
    border: 1px solid #dfdfdf;
    
  }
  
  .content {
    background-color: #f9fafb;
   
  }
  
 
  
  
  
  /* .card {
    width: 650px;
    margin: 140px 50px 0;
    padding: 20px;
  } */
  
  .heading a {
    text-decoration: none;
    font-weight: 600;
    color: #007aff;
  }
  
  
  
  .booking-detail
   {
    border: 1px solid #dfdfdf;
    width: 650px;
    border-radius: 10px;
  } 
  
  .heading-flex {
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
  }
  
  .b-info {
    font-size: 20px;
    font-weight: 600;
  }
  
  .heading-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title {
    padding: 10px;
    border-bottom: 2px solid #dfdfdf;
  } 
  
  .booking-detail .title p {
    margin: 0 0 12px;
    margin-left: 20px;
    color: rgb(72, 72, 72);
    font-weight: 400;
  }
  
  /* .car-detail .c-datas p,
  .acc-detail p {
    margin: 0 0 12px;
  }
   */
  